@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
    <div class="dropdown nav navbar-nav navbar-right ">
        <form asp-controller="Home" asp-action="SetLanguage" class="nav navbar-nav navbar-right form-horizontal"
              asp-route-returnUrl="@Context.Request.Path"
              method="post">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 17px;"
                            class="btn btn-info dropdown-toggle"
                            name="culture" onchange="this.form.submit();"
                            asp-for="@requestCulture.RequestCulture.UICulture.Name"
                            asp-items="cultureItems"></select>
                </div>
            </div>
        </form>
        </div>