@model Mordor.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>s
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <link rel="stylesheet" href="~/css/DragAndDrop.css" />
                <div id="dropArea">
                    <img id="DropImage" src="~/Image/upload-png--1369.png" />
                </div>
                <input asp-for="ImageUrl" class="form-control" id="IMGURL" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="TextArea" asp-for="Description" class="form-control" data-provide="markdown"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="SectionId" asp-items="ViewBag.Sections"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime.Date" class="form-control" type="date" />
                <span asp-validation-for="DateTime.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/jquery.filedrop.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#dropArea').filedrop({
                url: '@Url.Action("UploadFiles")',
                allowedfiletypes: ['image/jpeg', 'image/png', 'image/gif'],
                allowedfileextensions: ['.jpg', '.jpeg', '.png', '.gif'],
                paramname: 'files',
                maxfiles: 1,
                maxfilesize: 4, 
                dragOver: function () {
                    $('#dropArea').addClass('active-drop');
                },
                dragLeave: function () {
                    $('#dropArea').removeClass('active-drop');
                },
                drop: function () {
                    $('#dropArea').removeClass('active-drop');
                    $('#DropImage').attr("src", document.location.host+"/Image/uploading.gif")
                },
                afterAll: function (e) {
                },
                uploadFinished: function (i, file, response, time) {
                    $('#uploadList').append('<li class="list-group-item">' + file.name + '</li>');
                    $('#DropImage').attr("src", response);
                    $('#IMGURL').val(response);
                    
                }
            })
        })
    </script>
}

